<launch>
	<include file="$(find sine)/launch/sine.launch"/>
	<include file="$(find cosine)/launch/cosine.launch"/>
	<include file="$(find turtle_publisher)/launch/turtle_publiser.launch"/>
	<node
	pkg = "turtlesim"
	type = "turtlesim_node"
	name = "turtlesim"
	required = "true"
	>
	</node>

</launch>
